@font-face {
    font-family: "library-3";
    src:local("library-3"), url("../../assets/font/library-3-am.3amsoft.otf") format("truetype");
}

@font-face {
    font-family: "rajdhani";
    src:local("rajdhani"), url("../../assets/font/rajdhani.light.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-regular";
    src:local("rajdhani-regular"), url("../../assets/font/rajdhani.regular.ttf") format("truetype");
}

