@font-face {
    font-family: "Lato-Light";
    src:local("Lato-Light"), url("../../assets/font/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src:local("Lato-Bold"), url("../../assets/font/Lato-Bold.ttf") format("truetype"); 
}

@font-face {
    font-family: "library-3";
    src:local("library-3"), url("../../assets/font/library-3-am.3amsoft.otf") format("truetype");
}

@font-face {
    font-family: "coco";
    src:local("coco"), url("../../assets/font/cocomat.ultralight.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani";
    src:local("rajdhani"), url("../../assets/font/rajdhani.light.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-regular";
    src:local("rajdhani-regular"), url("../../assets/font/rajdhani.regular.ttf") format("truetype");
}

