#aside{
    grid-area: aside;
	display: flex;
	flex-direction:column;
	align-content: space-around;
	justify-content: space-around;
	overflow: hidden;
	
	background-color: black;
}

#container:has(#aside:hover){
	grid-template-columns: 10% auto;
}

#container{
	transition: 300ms;
	display: grid;
	grid-template-columns: var(--left, 90px) auto;
}

#container:has(#aside:hover){
	--left: 10%;
}

.aside__chl{
	display: flex;
	justify-content: center;
	align-content: space-around;
}

.aside__chl--ul--item:hover{
	transition: 400ms;
	transform: translateX(10%);
}


.aside__chl--ul li{
	list-style: none;
	
	padding-bottom: 4rem;
	
}

.aside__chl--ul--item a{
	text-decoration: none;
	
	font-family: "rajdhani-regular";
	font-weight: 550;
	font-size: 1.4rem;
	color: whitesmoke;
	
}

.aside__chl--icon{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.aside__chl--icon img{
	transition: 400ms;
	transform: translateX(10%);
	padding-right: 10px;
}

.aside__chl--icon img:hover{
	animation: bounce 0.4s cubic-bezier(0.59, -0.67, 0.24, 0.79)2 ;
	animation-direction: alternate ;
}

@keyframes bounce{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(-10px);
	}
}