.animate__animated.animate__slideInDown{
    --animate-duration: 1.2s;
}

.animate__animated.animate__slideInUp{
    --animate-duration: 1.2s;
}

.animate__animated.animate__slideInLeft{
    --animate-duration: 1.2s;
}