//Index GRID
#container{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "aside header header" 
                         "aside main main";
}