#header{
    grid-area: header;
}

.header__Nav--tittle{
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 1rem;
}

.header__Nav--title a{
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    font-family: "library-3";
    color: white;
    transition: all .2s ease-in-out;
}

.header__Nav--title a:hover{
    transform: scale(1.1);
}